# Cron job to git clone/pull a repo and then run locally
@reboot {{ projectraspberry_playbook_user }} /usr/bin/flock -n /tmp/ProjectRaspberry.lock /usr/bin/ansible-pull --accept-host-key --checkout=master --clean --directory={{ projectraspberry_playbook_dir }} --only-if-changed --url={{ projectraspberry_playbook_repo }} >>{{ projectraspberry_playbook_logfile }} 2>&1
{{ projectraspberry_playbook_schedule }} {{ projectraspberry_playbook_user }} /usr/bin/flock -n /tmp/ProjectRaspberry.lock /usr/bin/ansible-pull --accept-host-key --checkout=master --clean --directory={{ projectraspberry_playbook_dir }} --only-if-changed --url={{ projectraspberry_playbook_repo }} >>{{ projectraspberry_playbook_logfile }} 2>&1
